.showcase {
  font-size: 17px;
  color: #ffcece;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.showcase h1 {
  font-size: 50px;
}

.showcase p {
  font-size: 20px;
}
.showcase button {
  background-color: #ff6347;
}
